<div class="ms-dashboard">
  <div class="ms-table-paren">
    <h1>Sales Prestation</h1>
    <mat-form-field class="ms-full-width">
      <mat-label>Recherche...</mat-label>
      <input type="text" matInput placeholder="ex: Pack 1">
    </mat-form-field>

    <!-- List User -->
    <div class="ms-table-wrap">
      <ng-container *ngIf="dataSource$ | async as dataSource">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ms-table-fix-height">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{ element.date }}</td>
          </ng-container>

          <ng-container matColumnDef="prestation">
            <th mat-header-cell *matHeaderCellDef> Prestatation </th>
            <td mat-cell *matCellDef="let element"> {{ element.prestation }}</td>
          </ng-container>

          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef> Item </th>
            <td mat-cell *matCellDef="let element"> {{ getItems(element.items) }} </td>
          </ng-container>

          <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef> Nom et prénoms </th>
            <td mat-cell *matCellDef="let element"> {{ element.fullName }} </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Tarif </th>
            <td mat-cell *matCellDef="let element">
              <span>{{ element.rate }} {{ element.currency }}</span>

              <mat-chip class="ms-ml-6" *ngIf="element.discount" disabled>{{ element.discount }} &percnt; de Reduction</mat-chip>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </ng-container>
    </div>
  </div>
</div>