<div class="ms-root">
  <header class="ms-header">
    <mat-toolbar>
      <span>Josette Coiffure Mixte</span>
      <span class="ms-toolbar-spacer"></span>

      <div class="ms-button-row">
        <button mat-flat-button [routerLink]="['/ms-sales']">
          <mat-icon>point_of_sale</mat-icon>
          Activités
        </button>

        <button mat-fab-button [routerLink]="['/ms-home']">
          <mat-icon>home</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </header>

  <main class="ms-main">
    <router-outlet></router-outlet>
  </main>

  <footer class="ms-footer">
    © Copyright 2022 - {{ current.getFullYear() }} designed and built with&nbsp;<span style="color: red;">♥</span>&nbsp;by&nbsp;<a href="mailto:navotra.rakotoson@gmail.com">Avotra Rakotoson</a>
  </footer>
</div>
