<div class="ms-modal-wrap">
  <h1 mat-dialog-title class="ms-modal-title">Confirmation Vente Prestation</h1>
  <div mat-dialog-content class="ms-modal-content">
    <p>Êtes-vous sûr(e) de vouloir confirmer ce vente de prestation pour le client <b>{{ fullName }}</b>?</p>
    <div style="font-size: larger;font-weight: bold; padding-top: 5px">
      Total: {{ amount }} {{ currency }}
    </div>
    <div style="font-size: larger;font-weight: bold; padding-top: 5px">
      Reduction: {{ reduction }} &percnt;
    </div>
  </div>
  <div mat-dialog-actions class="ms-modal-actions" align="end">
    <button mat-raised-button (click)="cancel()">Annuler</button>
    <button mat-raised-button color="primary" (click)="delete()">Enregistrer</button>
  </div>
</div>
