.ms-sold-prestation-wrap {
  padding: 10px 20px;
}

.ms-sold-prestation-title {

}

.ms-sold-prestation-content {

}

.ms-sold-prestation-actions {

}

.ms-sold-prestation-detail {
  font-size: 18px;
  font-weight: bold;
}

.ms-list-item {
  text-align: end;
  font-size: 26px;
  font-weight: bold;
}

.ms-my-10 {
  margin: 10px 0;
}