<div class="ms-home">
  <h2 class="title">Welcome! Cliquez sur un module ci-dessous pour commencer.</h2>

  <div class="module">
    <div class="item" [routerLink]="['/ms-customers']">
      <img src="assets/icons/customers.png" alt="item-icon-customer" srcset="">
      <div class="label">Clients</div>
    </div>

    <div class="item" [routerLink]="['/ms-items']">
      <img src="assets/icons/items.png" alt="item-icon-prestation" srcset="">
      <div class="label">Items</div>
    </div>

    <div class="item" [routerLink]="['/ms-prestations']">
      <img src="assets/icons/prestations.png" alt="item-icon-prestations" srcset="">
      <div class="label">Prestations</div>
    </div>

    <div class="item" [routerLink]="['/ms-sales']">
      <img src="assets/icons/sales.png" alt="item-icon-sales" srcset="">
      <div class="label">Ventes</div>
    </div>

    <div class="item" [routerLink]="['/ms-agenda']">
      <img src="assets/icons/agenda.png" alt="item-icon-agenda" srcset="">
      <div class="label">Agenda</div>
    </div>

    <div class="item" [routerLink]="['/ms-reports']">
      <img src="assets/icons/reports.png" alt="item-icon-reports" srcset="">
      <div class="label">Reports</div>
    </div>
  </div>
</div>