<div class="ms-content">
  <div class="ms-content-grid">
    <div class="ms-agenda">
      <div class="ms-agenda-agenda">
        <div class="ms-agenda-wrap">
          <div class="content">
            <full-calendar
              [options]="calendarOptions"
              [events]="agendas$ | async"
            >
            </full-calendar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fix-actions">
  <button class="ms-full-width" mat-flat-button extended color="primary" aria-label="Ajout reservation" (click)="addReservationModal()">
    <mat-icon>add</mat-icon>
    Nouvelle Reservation
  </button>
</div>