// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ms-beauty-primary: mat.define-palette(mat.$indigo-palette);
$ms-beauty-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ms-beauty-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ms-beauty-theme: mat.define-light-theme((
  color: (
    primary: $ms-beauty-primary,
    accent: $ms-beauty-accent,
    warn: $ms-beauty-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ms-beauty-theme);

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ms-router-link-active {
  background: #3C2A21!important;
  opacity: .75!important;
  color: #fff!important;
}

.ms-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.ms-flex-column {
  display: flex;
  flex-direction: column;
}

.ms-flex-center {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.ms-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ms-flex-start-center {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}

.ms-grid {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
}

.ms-grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

.ms-wspacer {
  width: 10px;
  ::after {
    content: '-';
  }
}

.ms-hspacer {
  height: 10px;
}

.ms-button-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ms-card {
  // width: 250px;
  cursor: pointer;

  &:hover {
    background: #E9E9E9;
  }

  &-title {
    font-size: larger;
    font-weight: 800;
  }

  &-content {
    padding-top: 5px !important;
  }
}

.ms-toolbar-spacer {
  flex: 1 1 auto;
}

.ms-label {
  font-size: large;
}

.ms-menu-title {
  margin: 0 2px;
  font-weight: bolder;
}

.ms-full-width {
  width: 100%;
}

.mat-column-username {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// Material table
.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #E9E9E975;
}

.ms-table-wrap {
  height: 70vh;
  overflow: scroll;
}

h1 {
  margin-bottom: 5px!important;
}

.ms-full {
  width: 100%;
}

.ms-demi {
  width: 49%;
}

.ms-form-fields {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.ms-flex-grow {
  flex-grow: 1;
}

.ms-actions {
  position: fixed;
  bottom: 25px;
  left: 25px;
  z-index: 99;
}

.ms-content {
  position: relative;
  height: calc(100vh - (145px));
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  background-color: #FAFAFA;

  .ms-content-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

    .ms-left, .ms-right {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .ms-total {
      display: flex;
      align-items: flex-end;
      gap: 5px;
      padding: 10px 20px;
      border-right: 4px solid #E9E9E9;

      .count {
        text-align: end;
        width: 50px;
        font-size: xx-large;
        font-weight: bolder;
      }
    }

    .ms-filter {
      padding: 10px 20px;

      .ms-filter-select {
        padding: 6px 15px;
        width: 150px;
      }
    }

    .ms-search input {
      padding: 8px 15px;
      width: 250px;
    }
  }

  .ms-content-table {
    flex: 1;
    overflow: auto;
    background: #fff;

    .listitem, .action-wrap {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .listitem mat-icon {
      margin-right: 5px;
    }
  }

  .ms-content-list {
    flex: 1;
    overflow: auto;
    background: #fff;
    padding: 15px;
  }

  .ms-content-grid {
    flex: 1;
    overflow: auto;
  }
}

// Modal
.ms-modal-wrap {
  padding-bottom: 10px;
}

.ms-modal-title {

}

.ms-modal-content {

}

.ms-modal-actions {
  padding: 0 24px;
}

.ms-content-table-head {
  display: flex;
  align-items: center;
  gap: 5px;

  .icon {
    cursor: pointer;
  }
}

// Table responsive
@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle
  }

  .mat-table caption {
    font-size: 1em;
  }

  // Enable this to hide header
  .mat-table .mat-header-cell {

    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }

  /*
  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}
  */

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height:30px;
    margin-bottom: 4%;
  }
  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: .85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
    .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}
